--swiftversion 5.9
--indent 4
--maxwidth 120
--commas inline
--trimwhitespace always
--semicolons never
--self remove
--importgrouping testable-bottom
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--header ignore
--disable redundantReturn
